name: Cypress MongoDB

# Ao realizar um push e PR
on:
  #push:
    #branches:
      #- main
  pull_request:
    branches:
      - main
  workflow_dispatch:  # Permite a execução manual através da interface do GitHub

jobs:
  # O que será feito na pipeline
  cypress-run:
    # Maquina que será executado
    runs-on: ubuntu-24.04
    steps:
      # 1. Passo a passo para rodar os testes
      - name: Checkout do Projeto
        uses: actions/checkout@v4

      # 2. Instalando npm
      - name: Instalar dependências do projeto
        run: npm install --only=dev

      # 3. Rodar a conexão com o MongoDB
      - name: Rodando a conexão com o MongoDB (Aqui também setamos a variável de ambiente)
        env:
          MONGODB_URI: ${{ secrets.MONGODB_URI }}
        run: node app.js &

      # 4. Roda os testes por fim
      - name: Rodando os testes do Cypress (Aqui também setamos a variável de ambiente)
        continue-on-error: true
        env: 
          CYPRESS_PROJECT_ID: ${{ secrets.CYPRESS_PROJECT_ID }}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          MONGODB_URI: ${{ secrets.MONGODB_URI }}
        uses: cypress-io/github-action@v6
        with:
          record: true
          spec: "cypress/e2e/api_mongodb/**/*.cy.js"
        if: always()
      - uses: actions/upload-artifact@v4
        with:
          name: Evidências dos Testes
          path: cypress/reports